.product {
  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 70%;
    border-radius: 12px;
  }
}

.cont {
  width: 50%;
}

.title {
  font-weight: 700;
  font-size: 40px;
}

.prices {
  display: flex;
  position: relative;
  width: fit-content;
  margin-top: 40px;
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  background-color: #339933;
  border-radius: 6px;
  color: white;
}

.price {
  font-weight: 700;
  font-size: 64px;
}

.price_discount {
  font-weight: 500;
  font-size: 40px;
  text-decoration: line-through;
  color: #8b8b8b;
  margin-left: 20px;
  margin-right: 60px;
}

.actions {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.buttons {
  border: 1px solid #8b8b8b;
  display: flex;
  align-items: center;
  border-radius: 6px;
  width: fit-content;
}

.increment,
.dicrement {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8b8b8b;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
}

.counter {
  width: 66px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
}

.button {
  padding: 16px 128px;
  border-radius: 6px;
  background-color: #339933;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  user-select: none;
  cursor: pointer;
}

.description {
    margin-top: 30px;

  .title {
    font-weight: 600;
    font-size: 20px;
  }

  .text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
  }
}
