.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  border-bottom: 1px solid #DDDDDD;
}

.header_cont {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #282828;

  &:not(:first-child) {
    margin-left: 32px;
  }
}

.logo {
  cursor: pointer;
  user-select: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.basket {
  cursor: pointer;
  user-select: none;
  position: relative;

  .cartCount {
    position: absolute; top: -10px; left: 0;
    width: 26px;
    height: 26px;
    background-color: #339933;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}