.card {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #dddddd;
  user-select: none;
  cursor: pointer;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-bottom: 1px solid #dddddd;
}

.discount {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 4px 8px;
  background-color: #339933;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.name {
  font-weight: 500;
  font-size: 20px;
}

.price {
  font-weight: 600;
  font-size: 40px;
}

.price_discount {
  font-weight: 500;
  font-size: 20px;
  text-decoration: line-through;
  color: #8b8b8b;
  margin-left: 20px;
}
