.footer {
  margin-top: 50px;
  margin-bottom: 40px;
}

.cont {
  width: 97%;
  margin: 0 auto;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  margin-top: 30px;
}

.block {
  width: 98%;
  border-radius: 12px;
  background-color: #F1F3F4;

  .cont {
    padding: 32px;
  }

  .title {
    font-weight: 500;
    font-size: 20px;
  }

  .content {
    font-weight: 600;
    font-size: 40px;
    display: flex;
    align-items: center;

    img:not(:first-child) {
      margin-left: 15px;
    }
  }
}

.map iframe {
  width: 100%;
  border-radius: 12px;
  margin-top: 40px;
}
