.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.error h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.error p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.error img {
  max-width: 100%;
  height: auto;
}
